body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: beige;
}

.container {
    text-align: center;
}
h1, h2, h3, p {
    display: flex;
    justify-content: center;
}


button {
    
    width: 90%;
    margin: 90%;
    flex: 1;
    padding: 10px 20px;
    margin: 10px;
    background-color: #dd92e7;
    color: white;
    font-family: monospace;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.03);
}
button:focus {
    transform: scale(1.03);
}
button:active {
    color: rgba(245, 235, 235, 0.918);
}
.hide {
    display: none;
}

.correct {
    background-color: rgb(177, 240, 177);
}

.incorrect {
    background-color: rgb(234, 114, 114);
}


@media screen and (max-width: 600px) {
    body {
        background-color: orange;
    }
    h1, h2, h3, p {
        display: flex;
        justify-content: center;
    }
    button {
        width: 100%;
    }
}